table {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    max-width: 25rem;
    box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3125rem;
    margin: 1rem auto;
    text-align: center;
}

td {
    padding: 0.625rem;
    text-align: center;
}

input.username-input {
    width: 90%; 
    padding: 0.625rem;
    margin: 0.5rem auto;
    box-sizing: border-box;
    font-size: 1rem;
}

button.add-friend-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: #fff;
    background-color: rgb(76, 76, 76);
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message {
    display: block;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: inherit;
    min-height: 1.5rem;
    line-height: 1.5rem;
    visibility: hidden;
}

.message.success {
    visibility: visible;
    color: rgb(76, 175, 80);
}

.message.error {
    visibility: visible;
    color: rgb(244, 67, 54);
}

.message.neutral {
    visibility: visible;
    color: black;
}



.friend-requests-container {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-wrapper {
    max-height: 200px;
    overflow-y: auto; 
    border: none;
    border-radius: 0; 
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

.friend-requests-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    border: none;
}

.friend-requests-table th,
.friend-requests-table td {
    border: 1px solid #ddd; 
    padding: 0.75rem;
    text-align: center;
}

.friend-requests-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.friend-requests-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.friend-requests-table tr:hover {
    background-color: #f1f1f1;
}

.accept-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.reject-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.accept-button:hover {
    background-color: #45a049;
}

.reject-button:hover {
    background-color: #d32f2f;
}
