.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    gap: 70px;
}


.button-container button {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #4e4c4c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
