table {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 70px;
}


.form-block {
    position: relative;
}


th {
    padding: 10px;
    font-size: 18px;
    width: 100%;
}


td {
    padding: 10px;
    text-align: left;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


.header {
    text-align: center;
    padding: 10px;
}


h1,
h2 {
    margin: 10px 0;
    color: #333;
}


hr {
    width: 50%;
    margin: 10px auto;
    border: 1px solid #ccc;
}


input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    
}


input.checkbox {
    width: 15px;
    height: 15px;
}


.button-login {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(76, 76, 76);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;	
}