body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


.header {
    text-align: center;
    padding: 1rem;
}


h1,
h2 {
    margin: 0.5rem 0;
    color: #333;
}


hr {
    width: 50%;
    margin: 1rem auto;
    border: 1px solid #ccc;
}


.button {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: rgb(76, 76, 76);
    text-decoration: none;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: rgb(50, 50, 50);
}


.back-button {
    position: absolute;
    top: 2rem;
    left: 2rem;
}


.back-button-style {
    font-size: 1rem;
    padding: 0.9375rem 1.875rem;
}


.log-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    
    font-size: 24px;
    color: red;
    font-weight: bold;
    line-height: 1.5;
}


#message-td {
    height: 3rem;
}


.message {
    display: block;
    padding-left: 0.6250rem;
    font-size: 14px; 
    color: white;
    border-radius: 0.3125rem;
}


.message.error {
    color: red;
}


.message.success {
    color: green;
}
