<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptography Project</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
</head>
<body>
    <h1>Welcome to My Secure Website!</h1>
    <p>This website is protected with HTTPS using a custom PKI.</p>
    <button onclick="showAlert()">Click Me</button>
    <script src="../static/js/script.js"></script>
</body>
</html>
