<!DOCTYPE html>
<html>
    <head>
        <title>Criptografia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/open.css">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>

    <body>
        <div class="header">
            <h1>Welcome to My Secure Website!</h1>
            <h2>This website is protected with HTTPS using a custom PKI</h2>
            <hr>
        </div>
    
        <!-- Buttons Section Centered -->
        <div class="button-container">
            <a href="/registration">
                <button class="button">Go to Registration</button>
            </a>
            <a href="/login">
                <button class="button">Go to Login</button>
            </a>
        </div>
    </body>
    </html>
