<!DOCTYPE html>

<html lang="en">

<head>
    <title>Cryptography - Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

    <!-- {% if message_type == 'success' %}
    <meta http-equiv="refresh" content="1.5; url=/login">
    {% endif %} -->
</head>

<body>
    <div class="back-button">
        <a href="/">
            <button type="submit" class="button back-button-style">Back</button>
        </a>
    </div>


    <div class="header">
        <h1>Registration!</h1>
        <h2>This website is protected with HTTPS using a custom PKI</h2>
        <hr>
    </div>


    <div class="form-container">
        <div class="form-block">
            <form action="/registration" method="POST">
                <!-- Token CSRF -->
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <table>
                    <tbody>
                        <tr>
                            <td><label>Username</label></td>
                            <td>
                                <input type="text" placeholder="Enter Username" name="username" 
                                    autocomplete="off" oninvalid="this.setCustomValidity('Username is required!')"
                                    oninput="this.setCustomValidity('')" required>
                            </td>
                        </tr>
            
                        <tr>
                            <td><label>Password</label></td>
                            <td>
                                <input type="password" placeholder="Enter Password" name="password"
                                    autocomplete="off" oninvalid="this.setCustomValidity('Password is required!')"
                                    oninput="this.setCustomValidity('')" required>
                            </td>
                        </tr>
            
                        <tr>
                            <td colspan="2" style="padding: 0;">
                                <div id="passwordHelp"></div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" id="message-td" style="padding: 0;">
                                {% if message %}
                                <div class="message {{ message_type }}">
                                    {{ message }}
                                </div>
                                {% endif %}
                            </td>
                        </tr>

            
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <button type="submit" class="button-register">Register</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            
        </div>
    </div>

    <script src="/static/js/registration.js"></script>


</body>

</html>