<!-- MODIFICAR -->



<!DOCTYPE html>
<html>
<head>
    <title>Cryptography - Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/talkWithFriends.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

    {% if not is_authenticated %}
    <meta http-equiv="refresh" content="3.5; url=/login">
    {% endif %}
</head>

<body>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {% if not is_authenticated %}
        <div class="log-message">
            You need to log in to access this content.<br>
            Being redirected to the login page...
        </div>
    {% else %}
        <div class="back-button">
            <a href="/index">
                <button type="submit" class="button back-button-style">Back</button>
            </a>
        </div>

        <div class="header">
            <h1>Chat with Friends!</h1>
            <h2>This website is protected with HTTPS using a custom PKI</h2>
            <hr>
        </div>

        <div class="form-container">
            <div class="form-block">
                <form action="/talk_with_friends" method="POST">
                    <!-- Token CSRF -->
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <table>
                        <tbody>
                            <tr>
                                <td><label>Friend's Username</label></td>
                                <td>
                                    <input type="text" placeholder="Enter Friend's Username" name="friend_username" 
                                        autocomplete="off" oninvalid="this.setCustomValidity('Friend\'s Username is required!')"
                                        oninput="this.setCustomValidity('')" required>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Message</label></td>
                                <td>
                                    <textarea placeholder="Enter Message" name="message" 
                                        autocomplete="off" oninvalid="this.setCustomValidity('Message is required!')"
                                        oninput="this.setCustomValidity('')" required></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 0;">
                                    <div id="message-td" style="padding: 0;">
                                        {% if message %}
                                        <div class="message {{ message_type }}">
                                            {{ message }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 0;">
                                    <button type="submit" class="button">Send Message</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    {% endif %}



</body>


</html>